.logo-box {
  min-height: 100px;
  max-height: 100px;
  position: relavitve;
}

/*.logo-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/

.logo-container {
  position: absolute;
  top: 20%;
}

.logo-image {
  max-height: 100px;
}

.version-color {
  color: #757575;
  font-size: 30px;
}

.menu-margin {
  margin-top: 49px;
}

.left-menu {
  max-width: 210px;
}

.top-padding {
  padding-top: 100px;
}

/*
.content-title {
	padding-top: 75px;
	padding-bottom: 75px;
}
*/

.content-title {
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-content {
  padding-top: 50px;
}

.white-text {
  color: white;
}

.back {
  background-color: #eeeeee !important;
}

.code {
  min-height: 400px;
}

#menu {
  display: none;
}

#menu-div {
  min-height: 49px;
}
#vertical-menu {
  overflow-y: auto;
}

#vertical-menu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

#vertical-menu::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#vertical-menu::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bdbdbd;
}

/*bootstrap pagination custom css lines start*/

.pagination {
  height: 36px;
  margin: 0;
  padding: 0;
}
.pager,
.pagination ul {
  margin-left: 0;
  *zoom: 1;
}
.pagination ul {
  padding: 0;
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}
.pagination a {
  float: left;
  padding: 0 12px;
  line-height: 30px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination .active a,
.pagination a:hover {
  background-color: #f5f5f5;
  color: #94999e;
}
.pagination .active a {
  color: #94999e;
  cursor: default;
}
.pagination .disabled a,
.pagination .disabled a:hover,
.pagination .disabled span {
  color: #94999e;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a,
.pagination li:first-child span {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.pager {
  margin-bottom: 18px;
  text-align: center;
}
.pager:after,
.pager:before {
  display: table;
  content: "";
}
.pager li {
  display: inline;
}
.pager a {
  display: inline-block;
  padding: 5px 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .next a {
  float: right;
}
.pager .previous a {
  float: left;
}
.pager .disabled a,
.pager .disabled a:hover {
  color: #999;
  background-color: #fff;
  cursor: default;
}
.pagination .prev.disabled span {
  float: left;
  padding: 0 12px;
  line-height: 30px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 1;
}
.pagination .next.disabled span {
  float: left;
  padding: 0 12px;
  line-height: 30px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination li.active,
.pagination li.disabled {
  float: left;
  padding: 0 12px;
  line-height: 30px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.pagination li.active {
  background: #364e63;
  color: #fff;
}
.pagination li:first-child {
  border-left-width: 1px;
}

/*bootstrap pagination custom css lines end*/

[v-cloak] {
  display: none;
}

.float-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

a a:hover {
  outline: none;
}

a:focus {
  outline: none;
}

.header {
  color: #4183c4;
}

input::-webkit-input-placeholder {
  color: #313131 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #313131 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #313131 !important;
}

input:-ms-input-placeholder {
  color: #313131 !important;
}

.dropdown .default {
  color: #313131 !important;
}

.full-width {
  width: 100% !important
  ;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.flex {
  display: flex;
}

.image-preview {
  padding: 0.25rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}

.c-header {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  width: 40%;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.c-half {
  width: 50%;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.c-value {
  width: 60%;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

#export-menu .item {
  padding: 0.5rem 1.14285714rem !important;
}
